body {
    color: #323232;
    font-family: 'Roboto', sans-serif;
}

input {
    width: 100%;
    padding: 10px;
}

.table, tr, th, td {
    border: 1px solid #dbdbdb;
}

.titlesTable {
    border-bottom: 2px solid #dbdbdb;
}

.mainTitle {
    text-align: center;
}

.users {
    visibility: hidden;
}

.inf {
    margint-top: 10px;
    margin-bottom: 20px;
}

#button {
    padding: 12px;
    background-color: rgb(27, 95, 253);
    color: #fff;
    border-radius: 5px;
    margin-right: 20px;
}

.titleInput {
    margin-bottom: 150px;
}
